{:tasks
 {npm:install {:doc "Installs NPM deps"
               :task (shell "npm install")}
  dev {:doc "watches build with shadow-cljs"
       :depends [npm:install]
       :task (shell "npx shadow-cljs watch my-build")}}}
