{:tasks
 {npm:install {:doc "Installs NPM deps"
               :task (shell "npm install")}
  dev {:doc "watches build with shadow-cljs"
       :depends [npm:install]
       :requires ([babashka.fs :as fs])
       :task (do
               (fs/copy "public/index.template.html" "public/index.html" {:replace-existing true})
               (shell "npx shadow-cljs watch my-build"))}
  bukd {:doc "builds production build"
        :task (shell "bb bin/dev build")}}}
